.container {
  width: 312px;
  min-height: 127px;
  padding: 19px;
  margin-bottom: 16px;
  border-radius: 8px;
  border-left: 8px solid #f3aa00;
  color: #fff;
  background: #464646 0% 0% no-repeat padding-box;
  box-shadow: 0px 4px 16px #00000029;
  border-radius: 8px;
}

.container > p {
  font: normal normal 300 16px/20px Nunito Sans;
}

.header {
  justify-content: space-between;
  width: 100%;
  margin-bottom: 17px;
}

.header > h2 {
  width: 312px;
  font: normal normal bold 16px/10px Poppins;
}

.header > strong {
  font: normal normal bold 16px/10px Poppins;
  white-space: nowrap;
}
